#mis-cupones-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #cupones-title {
    font-size: 24px;
    color: #333;
  }
  
  #cupones-description {
    font-size: 16px;
    color: #666;
  }
  