#actividad-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #compras-title {
    font-size: 24px;
    color: #333;
  }
  
  #compras-description {
    font-size: 16px;
    color: #666;
  }
  