.cart {
  margin-top: 100px;
  padding: 20px;
}

.cart-items,
.cart-promocode {
  margin-bottom: 20px;
}

.cart-items-title,
.cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: rgb(71, 67, 67);
  font-size: max(1vw, 12px);
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item img {
  width: 120px;
}

.cart-item p {
  margin: 0;
  font-size: max(1vw, 12px);
}

.cart-item .cross {
  cursor: pointer;
}

.cart-promocode-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
  padding: 5px;
}

.cart-promocode-input input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
}

.cart-promocode-input button {
  width: auto;
  padding: 10px 15px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-total {
  margin-top: 20px;
}

.cart-total h2 {
  font-size: max(1.5vw, 18px);
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: max(1vw, 14px);
}

.cart-total hr {
  margin: 10px 0;
}

.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: 100%;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  .cart-items-title,
  .cart-item {
    font-size: 12px;
  }

  .cart-promocode-input input {
    padding: 8px;
  }

  .cart-promocode-input button {
    padding: 8px 10px;
  }

  .cart-total h2,
  .cart-total-details {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cart-items-title,
  .cart-item {
    grid-template-columns: 1fr 1fr;
    font-size: 10px;
  }

  .cart-promocode-input input {
    padding: 5px;
  }

  .cart-promocode-input button {
    padding: 6px 8px;
  }

  .cart-total h2,
  .cart-total-details {
    font-size: 10px;
  }
}
