@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.menu {
  margin-top: 80px;
  text-align: center;
  color: tomato;
}

.menu h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4em; /* Ajusta para pantallas grandes */
  margin-bottom: 30px;
}

.categorias-menu-container {
  overflow: auto; /* Permite el desplazamiento */
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

.categorias-menu-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari y Opera */
}

.categorias-menu {
  display: flex; /* Asegura que los botones estén en una fila */
  flex-wrap: nowrap; /* Evita que los botones se envuelvan en múltiples líneas */
  justify-content: flex-start; /* Alinea los botones al inicio del contenedor */
  padding: 20px 0;
}


.categorias-menu button {
  min-width: 80px; /* Ajusta el tamaño mínimo del botón */
  height: 90px; /* Ajusta la altura del botón */
  border: none;
  background-color: #f54e48;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1em; /* Ajusta el tamaño de la fuente */
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  white-space: normal;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.categorias-menu button:hover {
  background-color: tomato;
  color: white;
}

.categorias-menu button.active {
  background-color: tomato;
  color: white;
}

.platos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.plato-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 300px; /* Ajusta el ancho máximo de las tarjetas */
  transition: transform 0.3s;
}

.plato-card:hover {
  transform: scale(1.05);
}

.plato-image {
  width: 100%;
  height: auto;
  max-height: 250px; /* Ajusta la altura máxima de las imágenes */
  object-fit: cover;
}

.plato-info {
  padding: 20px;
  text-align: left;
}

.plato-info h3 {
  margin: 0 0 10px;
}

.plato-info p {
  margin: 5px 0;
}

.buy-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #e5533d;
}

/* Contenedor del mensaje */
.mensaje {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 237, 71);
  color: rgb(10, 10, 10);
  padding: 15px 25px;
  border-radius: 5px;
  z-index: 1000; /* Asegura que el mensaje esté encima de otros elementos */
  font-size: 16px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .menu h1 {
    font-size: 3em; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }

  .categorias-menu button {
    min-width: 70px; /* Ajusta el tamaño de los botones */
    height: 70px;
    font-size: 0.9em;
  }

  .plato-card {
    width: 90%;
  }

  .plato-image {
    max-height: 200px; /* Ajusta la altura máxima de las imágenes */
  }
}

@media (max-width: 480px) {
  .menu h1 {
    font-size: 2.5em; /* Ajusta aún más el tamaño del texto */
  }

  .categorias-menu button {
    min-width: 60px; /* Ajusta el tamaño de los botones */
    height: 60px;
    font-size: 0.8em;
  }

  .plato-card {
    width: 100%;
  }

  .plato-image {
    max-height: 180px; /* Ajusta la altura máxima de las imágenes */
  }
}
